@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto" "sans-serif";
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0.1rem 0.1rem 0.8rem darkgray;
  position: relative;
  & .navigation-links {
    list-style: none;
    display: flex;
    align-items: center;
    @media (max-width: 750px) {
      display: none;
    }
    & li {
      font-size: 1.5rem;
      transition: 0.4s all;
      padding: 1rem 1.5rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(171, 123, 96);
      }
      &:hover .navigation-link {
        color: white;
      }
      & .navigation-link {
        text-decoration: 0;
        color: black;
        padding: 1rem 1.5rem;
        transition: 0.2s all;
      }
    }
  }
  & .cartButtons {
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 750px) {
      display: none;
    }
    & .reactIcon {
      font-size: 3rem;
      margin: 0 0.5rem;
      cursor: pointer;
    }
    & .cartLink {
      color: black;
    }
    & .cartItems {
      position: absolute;
      background-color: rgb(171, 123, 96);
      color: white;
      font-weight: bold;
      padding: 0.3rem 0.6rem;
      border-radius: 50%;
      font-size: 0.8rem;
      top: -0.8rem;
      left: 1.7rem;
    }
  }
  & .sidebar {
    font-size: 3rem;
    color: rgb(171, 123, 96);
    cursor: pointer;
    display: none;
    @media (max-width: 750px) {
      display: flex;
    }
  }
}

.sidebarPanel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.2s all;
  display: flex;
  flex-direction: column;
  & .sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    & .reactIcon {
      color: red;
      font-size: 2.5rem;
      cursor: pointer;
    }
  }
  & .sidebar-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    & li {
      font-size: 1.5rem;
      transition: 0.4s all;
      padding: 1rem 1.5rem;
      &:hover {
        background-color: rgb(171, 123, 96);
      }
      &:hover .sidebar-link {
        color: white;
      }
      & .sidebar-link {
        text-decoration: 0;
        color: black;
        padding: 1rem 1.5rem;
        transition: 0.2s all;
      }
    }
  }
  & .cartButtons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    & .reactIcon {
      font-size: 3rem;
      margin: 3rem 0.5rem;
      cursor: pointer;
    }
    & .cartLink {
      color: black;
    }
    & .cartItems {
      position: absolute;
      background-color: rgb(171, 123, 96);
      color: white;
      font-weight: bold;
      padding: 0.3rem 0.6rem;
      border-radius: 50%;
      font-size: 0.8rem;
      top: -0.8rem;
      left: 1.7rem;
    }
  }
}
.sidebarPanel.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.footerContent {
  background-color: black;
  padding: 4rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
