@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./mixins", "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto" "sans-serif";
}
#root {
  position: relative;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0.1rem 0.1rem 0.8rem darkgray;
  position: relative;
  & .navigation-logo {
    width: 10rem;
    padding: 1rem;
    & img {
      width: 100%;
    }
  }
  & .navigation-links {
    list-style: none;
    display: flex;
    align-items: center;
    @media (max-width: 750px) {
      display: none;
    }
    & li {
      font-size: 1.5rem;
      transition: 0.4s all;
      padding: 1rem 1.5rem;
      cursor: pointer;
      &:hover {
        background-color: $primaryColor;
      }
      &:hover .navigation-link {
        color: white;
      }
      & .navigation-link {
        text-decoration: 0;
        color: black;
        padding: 1rem 1.5rem;
        transition: 0.2s all;
      }
    }
  }
  & .cartButtons {
    position: relative;
    display: flex;
    align-items: center;
    & .cartText {
      font-size: 1.5rem;
      font-weight: bold;
    }
    & .loginText {
      font-size: 1.5rem;
      font-weight: bold;
    }
    @media (max-width: 750px) {
      display: none;
    }
    & .reactIcon {
      font-size: 3rem;
      margin: 0 0.5rem;
      cursor: pointer;
    }
    & .cartLink {
      color: black;
      position: relative;
      & .cartItems {
        position: absolute;
        top: -0.5rem;
        right: 0rem;
        color: white;
        font-weight: bold;
        border-radius: 50%;
        background-color: $primaryColor;
        text-decoration: none;
        padding: 0.5rem;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  & .sidebar {
    font-size: 3rem;
    color: $primaryColor;
    cursor: pointer;
    display: none;
    @media (max-width: 750px) {
      display: flex;
    }
  }
}

.sidebarPanel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.2s all;
  display: flex;
  flex-direction: column;
  z-index: 100;
  height: 100%;
  width: 100%;
  & .sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    & .sidebarLogo {
      width: 15rem;
      padding: 1rem;
      & img {
        width: 100%;
      }
    }
    & .reactIcon {
      color: red;
      font-size: 2.5rem;
      cursor: pointer;
    }
  }
  & .sidebar-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    & li {
      font-size: 1.5rem;
      transition: 0.4s all;
      padding: 1rem 1.5rem;
      &:hover {
        background-color: $primaryColor;
      }
      &:hover .sidebar-link {
        color: white;
      }
      & .sidebar-link {
        text-decoration: 0;
        color: black;
        padding: 1rem 1.5rem;
        transition: 0.2s all;
      }
    }
  }
  & .cartButtons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    & .reactIcon {
      font-size: 3rem;
      margin: 3rem 0.5rem;
      cursor: pointer;
    }
    & .cartLink {
      color: black;
      position: relative;
      & .cartItems {
        position: absolute;
        top: 2rem;
        right: 0rem;
        color: white;
        font-weight: bold;
        border-radius: 50%;
        background-color: $primaryColor;
        text-decoration: none;
        padding: 0.5rem;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.sidebarPanel.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.footerContent {
  background-color: black;
  padding: 4rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

#pagehero {
  background-color: $secondaryColor;
  padding: 6rem;
  & .pageheroLink {
    font-size: 2.8rem;
    margin-left: 4.5rem;
    text-transform: capitalize;
    & a {
      text-decoration: 0;
      color: $tertiaryColor;
    }
  }
}

.aboutGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  padding: 10rem 0;
  margin: 0 20rem;
  @media (max-width: 1100px) {
    margin: 0 10rem;
  }
  @media (max-width: 900px) {
    margin: 0 5rem;
  }
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column-reverse;
  }
  & .aboutImage {
    width: 100%;
    @media (max-width: 800px) {
      width: 80%;
      align-self: center;
    }
    & img {
      width: 100%;
      display: block;
    }
  }
  & .aboutContent {
    @media (max-width: 800px) {
      margin-bottom: 4rem;
    }
    & .aboutContentHeading {
      font-size: 4rem;
      font-family: "Merriweather";
    }
    & .underline {
      @include underline(15rem);
    }
  }
  & .aboutContentText {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}

#errorPage {
  background-color: $secondaryColor;
  padding: 20rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .errorHeadingBox {
    text-align: center;
    & .errorHeading {
      font-size: 8rem;
      margin-bottom: 2rem;
      font-family: "Merriweather";
    }
    & .errorSubheading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 3rem;
      & .reactIcon {
        font-size: 2.5rem;
        margin-left: 2rem;
      }
    }
  }
  & .btn {
    @include btn(1.5rem 3rem);
    margin-top: 4rem;
    & a {
      color: white;
      font-weight: bold;
      text-decoration: 0;
      padding: 1.5rem 4rem;
    }
  }
}

#showcase {
  margin: 10rem 15rem 8rem 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  @media (max-width: 1400px) {
    column-gap: 10rem;
  }
  @media (max-width: 1200px) {
    display: flex;
    margin: 10rem 5rem 8rem 5rem;
  }
  & .showcaseBoxOne {
    & .showcaseHeading {
      font-size: 4rem;
      margin-bottom: 2rem;
      font-family: "Merriweather";
    }
    & .showcaseText {
      font-size: 1.8rem;
      line-height: 3rem;
      width: 80%;
      color: rgb(136, 136, 136);
      @media (max-width: 850px) {
        width: 100%;
      }
    }
    & .btn {
      @include btn(2rem 0);
      margin-top: 4rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      & a {
        text-decoration: 0;
        color: white;
        font-weight: bold;
        padding: 2rem 5rem;
      }
    }
  }
  & .showcaseBoxTwo {
    position: relative;
    @media (max-width: 900px) {
      display: none;
    }
    & img:nth-child(1) {
      width: 25rem;
      position: absolute;
      bottom: 0;
      left: -10rem;
      @media (max-width: 1400px) {
        width: 20rem;
        bottom: 13.5rem;
      }
    }
    & img:nth-child(2) {
      width: 40rem;
      height: 100%;
      box-shadow: 0.1rem 0.1rem 0.8rem darkgray;
      @media (max-width: 1400px) {
        width: 35rem;
        height: 80%;
      }
    }
    & .background {
      position: absolute;
      background-color: $secondaryColor;
      width: 40rem;
      height: 100%;
      height: 75%;
      bottom: 0;
      left: -10rem;
      z-index: -1;
      box-shadow: 0.1rem 0.1rem 0.8rem darkgray;
      @media (max-width: 1400px) {
        width: 35rem;
        height: 60%;
        bottom: 13.5rem;
      }
    }
  }
}

#services {
  background-color: $secondaryColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20rem;
  position: relative;
  @media (max-width: 700px) {
    padding: 0 10rem;
  }
  @media (max-width: 450px) {
    padding: 0 5rem;
  }
  & .servicesBoxOne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    margin-top: 6rem;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 5rem;
    }
    @media (max-width: 700px) {
      text-align: center;
    }
    & .boxOneHeading {
      font-size: 3rem;
      font-family: "Merriweather";
    }
    & .boxOneText {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }
  & .servicesBoxTwo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    transform: translateY(8rem);
    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 2rem;
    }
    & .boxTwoCard {
      background-color: $tertiaryColor;
      text-align: center;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0.1rem 0.1rem 0.5rem rgb(65, 65, 65);
      transition: 0.3s all;
      cursor: pointer;
      &:hover {
        box-shadow: 0.1rem 0.1rem 1rem rgb(65, 65, 65);
      }
      & .cardIcon {
        background-color: $secondaryColor;
        border-radius: 50%;
        padding: 1rem;
        margin-bottom: 2rem;
        & .reactIcon {
          font-size: 4rem;
        }
      }
      & .cardHeading {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-family: "Merriweather";
      }
      & .cardText {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 5rem;
      }
    }
  }
}

#contact {
  padding: 30rem 0 25rem 0;
  margin: 0 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }
  @media (max-width: 850px) {
    margin: 0 5rem;
  }
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30rem 2rem 25rem 2rem;
  }
  & .contactBoxOne {
    @media (max-width: 1200px) {
      text-align: center;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
    & .boxOneHeading {
      font-size: 3rem;
      margin-bottom: 3rem;
      font-family: "Merriweather";
    }
    & .boxOneText {
      font-size: 1.8rem;
      line-height: 3rem;
      color: rgb(136, 136, 136);
    }
  }
  & .contactBoxTwo {
    align-self: center;
    @media (max-width: 600px) {
      margin-top: 5rem;
      width: 80%;
    }
    & form {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 600px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3rem;
      }
      & input {
        outline: 0;
        border: 0;
        box-shadow: 0.1rem 0.1rem 0.3rem black;
        padding: 1.5rem 1.5rem;
        width: 35rem;
        @media (max-width: 600px) {
          width: 100%;
        }
      }
      & .btn {
        @include btn(1.6rem 4rem);
        color: white;
        font-size: 1.5rem;
      }
    }
  }
}

#featuredProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 10rem;
  background-color: #f1f5f8;
  & .featuredProductsHeading {
    margin: 2rem 0 0 0;
    font-size: 3rem;
    font-family: "Merriweather";
  }
  & .underline {
    @include underline(12rem);
    margin-bottom: 6rem;
  }
  & .featuredProductsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin: 3rem 0;
    @media (max-width: 850px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 4rem;
    }
    & .featuredProduct {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      & .featuredProductImage {
        width: 42rem;
        height: 28rem;
        overflow: hidden;
        border-radius: 0.5rem;
        position: relative;
        @media (max-width: 1400px) {
          width: 35rem;
          height: 22rem;
        }
        @media (max-width: 1200px) {
          width: 30rem;
          height: 20rem;
        }
        @media (max-width: 1000px) {
          width: 25rem;
          height: 18rem;
        }
        @media (max-width: 850px) {
          width: 42rem;
          height: 28rem;
        }
        @media (max-width: 600px) {
          width: 30rem;
          height: 20rem;
        }
        @media (max-width: 400px) {
          width: 22rem;
          height: 12rem;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(black, 0.5);
          transition: 0.3s all;
          visibility: hidden;
          opacity: 0;
        }
        &:hover::before {
          visibility: visible;
          opacity: 1;
        }
        & img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
        & .reactIcon {
          visibility: hidden;
          opacity: 0;
          transition: 0.3s all;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3.5rem;
          color: $primaryColor;
          cursor: pointer;
        }
        &:hover .reactIcon {
          visibility: visible;
          opacity: 1;
          top: 50%;
        }
      }
      & .featuredPorductInfo {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 1rem;
        align-items: center;
        width: 100%;
        & .productName {
          font-size: 1.5rem;
          font-family: "Merriweather";
          font-weight: 400;
          text-transform: capitalize;
        }
        & .productPrice {
          font-size: 1.5rem;
          font-weight: 400;
          color: $primaryColor;
        }
      }
    }
  }
  & a {
    & .btn {
      @include btn(1rem 3rem);
      color: white;
      font-weight: bold;
    }
  }
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

#singleProduct {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  overflow: hidden;
  @media (max-width: 1500px) {
    grid-template-columns: 60% 40%;
  }
  @media (max-width: 1400) {
    grid-template-columns: 65% 35%;
  }
  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4rem;
  }
  @media (max-width: 900px) {
    margin: 5rem;
  }
  @media (max-width: 600px) {
    margin: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & .singleProductImages {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    & > img {
      width: 100%;
      height: 55rem;
      display: block;
      object-fit: cover;
      @media (max-width: 600px) {
        object-fit: contain;
      }
    }
    & .gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-top: 1.5rem;
      column-gap: 1rem;
      @media (max-width: 600px) {
        margin-top: -10rem;
      }
      & img {
        display: block;
        width: 100%;
        height: 10rem;
        object-fit: fill;
        @media (max-width: 500px) {
          height: 6rem;
        }
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
          box-shadow: 0.1rem 0.1rem 1.5rem rgb(46, 46, 46);
        }
      }
      & img.active {
        box-shadow: 0.1rem 0.1rem 1.5rem rgb(46, 46, 46);
      }
    }
  }
  & .singleProductContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
    padding: 0 6rem 0 0;
    @media (max-width: 600px) {
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0;
    }
    & .heading {
      font-size: 3rem;
      font-family: "Merriweather";
      text-transform: capitalize;
    }
    & .description {
      font-size: 1.6rem;
      line-height: 3rem;
      color: rgb(136, 136, 136);
    }
    & .singleProductInfo {
      display: flex;
      flex-direction: column;
      text-align: left;
      @media (max-width: 600px) {
        margin-top: 2rem;
      }
      & .info:nth-child(1) {
        margin-bottom: 1rem;
      }
      & .info:nth-child(2) {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      & .info:nth-child(3) {
        margin-top: 1rem;
      }
      & .info {
        font-size: 1.8rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        color: rgb(136, 136, 136);
        @media (max-width: 600px) {
          column-gap: 1rem;
        }
        & span {
          margin-right: 1rem;
          font-weight: bold;
          color: black;
        }
      }
    }
  }
}

#singleProductDetails {
  & .singleProductReviews {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    & .star {
      color: orange;
      font-size: 2rem;
    }
    & .reviews {
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }
  & .price {
    color: $primaryColor;
    font-size: 2.5rem;
  }
}

#singleProductAddToCart {
  @media (max-width: 600px) {
    margin-top: 4rem;
  }
  & .colors {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    & button:nth-child(1) {
      margin-left: 1.5rem;
    }
    & .btn {
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      border-radius: 50%;
      outline: 0;
      border: 0;
      margin: 0 0.5rem;
      transition: 0.3s all;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        box-shadow: 0.1rem 0.1rem 0.5rem rgb(51, 51, 51);
      }
      & .reactIcon {
        color: white;
        font-size: 1.5rem;
      }
    }
  }
  & .btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    & .btn {
      border: 0;
      border-radius: 0.3rem;
      background-color: $primaryColor;
      outline: 0;
      cursor: pointer;
      padding: 1rem;
      & .reactIcon {
        color: white;
        font-weight: bold;
      }
    }
  }
  & .btn.addToCart {
    @include btn(1.5rem 6rem);
    color: white;
    margin-top: 2rem;
    font-weight: bold;
  }
}

#productsList {
  display: flex;
  justify-content: center;
  margin: 5rem 15rem;
  @media (max-width: 900px) {
    margin: 5rem 10rem;
  }
  @media (max-width: 800px) {
    margin: 5rem 5rem;
  }
  @media (max-width: 700px) {
    margin: 5rem 2rem;
  }
  @media (max-width: 600px) {
    flex-direction: column;
  }
  & .filters {
    margin-right: 4rem;
    @media (max-width: 700px) {
      margin-right: 2rem;
      width: 20rem;
    }
    @media (max-width: 600px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
    }
    & form {
      display: flex;
      flex-direction: column;
      @media (max-width: 700px) {
        width: 100%;
      }
      @media (max-width: 600px) {
        justify-content: center;
        align-items: center;
      }
      h4 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }
      & .form-control {
        margin-bottom: 1.5rem;
      }
      & .form-control:nth-child(1) {
        margin-bottom: 2rem;
        & input {
          padding: 1rem 1.5rem;
          background-color: rgb(207, 231, 241);
          outline: 0;
          border: 0;
          box-shadow: 0.1rem 0.1rem 0.8rem darkgray;
          text-transform: capitalize;
        }
      }
      & .form-control:nth-child(2) {
        display: flex;
        flex-direction: column;
        @media (max-width: 600px) {
          flex-direction: row;
          width: 100%;
          align-items: center;
          justify-content: center;
          & .btn {
            margin: 0 1rem;
          }
        }
        @media (max-width: 500px) {
          display: none;
        }
        & h4 {
          @media (max-width: 600px) {
            display: none;
          }
        }
        & .btn {
          border: 0;
          background: 0;
          outline: 0;
          font-size: 1.4rem;
          text-transform: capitalize;
          margin-bottom: 0.5rem;
          padding: 0.8rem 0;
          cursor: pointer;
          transition: 0.3s all;
          border-radius: 0.3rem;
        }
        & .btn.active {
          background: rgb(207, 231, 241);
          font-weight: bold;
        }
      }
      & .form-control:nth-child(3) {
        width: 100%;
        @media (max-width: 600px) {
          width: 50%;
          margin: 0 auto;
        }
        @media (max-width: 500px) {
          display: none;
        }
        & select {
          margin-top: 2rem;
          padding: 0.8rem 0;
          text-transform: capitalize;
          width: 100%;
        }
      }
      & .form-control:nth-child(4) {
        & .btn-container {
          display: flex;
          align-items: center;
          & .btn.all {
            background: 0;
            font-size: 1.5rem;
            text-transform: capitalize;
            border-radius: 0;
            transition: 0.3s all;
            border-bottom: 0.3rem solid transparent;
          }
          & .btn.all.active {
            border-bottom: rgb(207, 231, 241) solid 0.3rem;
          }
          & .btn {
            margin: 0 0.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            outline: 0;
            border: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            & .reactIcon {
              color: white;
              font-weight: bolder;
            }
          }
        }
      }
      & .form-control:nth-child(5) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & label {
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
      }
      & .form-control:nth-child(6) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & label {
          font-size: 1.5rem;
          @media (max-width: 600px) {
            margin-right: 1rem;
          }
        }
        & input {
          height: 1.5rem;
          width: 1.5rem;
          cursor: pointer;
        }
      }
      & .btn.clear {
        @include btn(1rem);
        color: white;
        font-weight: bold;
      }
    }
  }
  & .productsListContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    & .gridView {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      row-gap: 5rem;
      @media (max-width: 1400px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 5rem;
      }
      @media (max-width: 1100px) {
        grid-template-columns: 1fr;
      }
      @media (max-width: 600px) {
        padding: 0 8rem;
      }
      @media (max-width: 500px) {
        padding: 0 5rem;
      }
      @media (max-width: 400px) {
        padding: 0 1rem;
      }
      & .productBox {
        display: flex;
        flex-direction: column;
        & img {
          width: 100%;
          height: 25rem;
          display: block;
          object-fit: cover;
        }
        & .productBoxInfo {
          display: flex;
          justify-content: space-between;
          padding: 0 0.5rem;
          margin-top: 1rem;
          align-items: center;
          overflow: hidden;
          & .price {
            color: $primaryColor;
            font-size: 1.6rem;
            font-weight: bold;
          }
          & .name {
            text-transform: capitalize;
            font-size: 1.6rem;
            font-family: "Merriweather";
          }
        }
        & .btn-grid {
          @include btn(1rem 0rem);
          margin-top: 2rem;
          & a {
            color: white;
            font-weight: bold;
            text-decoration: 0;
            padding: 1rem 9rem;
          }
        }
      }
    }
    & .sort {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid black;
      padding-bottom: 1rem;
      & select {
        padding: 0.5rem;
      }
      & .views {
        display: flex;
        align-items: center;
        & .productsNum {
          margin-left: 1rem;
          font-size: 1.5rem;
          @media (max-width: 400px) {
            display: none;
          }
        }
        & .reactIcon:nth-child(1) {
          margin-right: 0.5rem;
        }
        & .reactIcon {
          font-size: 2.8rem;
          cursor: pointer;
          border: 0.1rem solid black;
          padding: 0.5rem;
          border-radius: 0.5rem;
          overflow: hidden;
        }
        & .reactIcon.active {
          background-color: black;
          color: white;
          border: 0.1rem solid white;
        }
      }
    }
    & .listView {
      display: flex;
      flex-direction: column;
      & .productBox {
        display: grid;
        grid-template-columns: 30% 70%;
        margin-bottom: 3rem;
        box-shadow: 0.1rem 0.1rem 0.8rem darkgray;
        @media (max-width: 1600px) {
          grid-template-columns: 40% 60%;
        }
        @media (max-width: 1400px) {
          grid-template-columns: 50% 50%;
        }
        @media (max-width: 1200px) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2, 1fr);
          row-gap: 2rem;
        }
        & img {
          width: 100%;
          height: 30rem;
          display: block;
          object-fit: cover;
        }
        & .productBoxInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1rem 2rem;
          & .infoheading {
            & .name {
              text-transform: capitalize;
              font-family: "Merriweather";
              font-size: 2rem;
              margin-bottom: 1rem;
            }
            & .price {
              font-size: 1.8rem;
              color: $primaryColor;
              font-weight: bold;
            }
          }
          & .description {
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: rgb(136, 136, 136);
          }
          & a {
            & .btn {
              @include btn(1rem 3rem);
              color: white;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

#cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .cartItems-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 10rem 5rem 10rem;
    @media (max-width: 500px) {
      margin: 1rem 5rem 5rem 5rem;
    }
    @media (max-width: 400px) {
      margin: 1rem 3rem 5rem 3rem;
    }
    & .cartItem {
      display: grid;
      grid-template-columns: 30% 70%;
      margin: 2rem 0;
      box-shadow: 0.1rem 0.1rem 1rem darkgray;
      @media (max-width: 1400px) {
        grid-template-columns: 40% 60%;
      }
      @media (max-width: 1100px) {
        grid-template-columns: 50% 50%;
      }
      @media (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2rem;
      }
      @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      & .cartBox-one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        @media (max-width: 600px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        & img {
          width: 100%;
          display: block;
          object-fit: fill;
          height: 15rem;
        }
        & .cartItem-info {
          padding: 2rem 0;
          & .cartItem-name {
            font-size: 1.5rem;
            font-family: "Merriweather";
            text-transform: capitalize;
          }
          & .cartItem-color {
            display: flex;
            align-items: center;
            & .cartItem-color-name {
              font-size: 1.4rem;
              margin-right: 1rem;
            }
            & .cartItem-color-btn {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              border: 0;
              outline: 0;
            }
          }
          & .cartItem-price {
            font-size: 1.5rem;
            color: $primaryColor;
            display: block;
            margin: 0.5rem 0;
          }
        }
      }
      & .cartBox-two {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 0;
        align-items: center;
        justify-items: center;
        @media (max-width: 600px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          & div {
            margin: 0.5rem 0;
          }
        }
        & .cartBox-amount {
          display: flex;
          align-items: center;
          & .quantity {
            padding: 1rem 2rem;
            font-size: 1.4rem;
            font-weight: bold;
            border: 0.1rem solid black;
          }
          & .btn {
            cursor: pointer;
            background-color: $primaryColor;
            border: 0;
            outline: 0;
            padding: 1rem;
            color: white;
          }
        }
        & .cartBox-subtotal {
          font-size: 2rem;
          color: $primaryColor;
          font-weight: bold;
        }
        & .cartBox-remove {
          & .reactIcon {
            font-size: 3rem;
            color: white;
            cursor: pointer;
            transition: 0.2s all;
            background-color: red;
            padding: 0.5rem;
            border-radius: 50%;
            &:hover {
              box-shadow: 0.1rem 0.1rem 0.8rem red;
            }
          }
        }
      }
    }
  }
}
#emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex-direction: column;
  & h1 {
    font-size: 2rem;
    font-family: "Merriweather";
    margin-bottom: 2rem;
  }
  & .btn {
    @include btn(1.5rem 3rem);
    color: white;
    font-weight: bold;
  }
}

#cartTotals {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0rem;
  padding: 0 10rem;
  width: 100%;
  margin-bottom: 4rem;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .btn {
      margin: 2rem;
    }
  }
  @media (max-width: 600px) {
    padding: 0 5rem;
  }
  & .btn {
    @include btn(1.5rem 3rem);
    font-weight: bold;
    color: white;
  }
  & .carTotalsInfo {
    font-size: 2rem;
    border: 0.1rem solid black;
    width: 30rem;
    padding: 1rem;
    & h5:nth-child(4) {
      color: $primaryColor;
    }
    & h5 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      & span {
        margin-left: 3rem;
      }
    }
  }
}
#checkout {
  position: relative;
  & .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(black, 0.5);
    transform: scale(1);
    & .popup-content {
      background-color: white;
      box-shadow: 0.1rem 0.1rem 1rem darkgray;
      padding: 3rem 6rem;
      @media (max-width: 500px) {
        padding: 3rem;
      }
      & h2 {
        font-family: "Merriweather";
        font-size: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        @media (max-width: 700px) {
          font-size: 2rem;
        }
      }
      & h3 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2rem;
        @media (max-width: 700px) {
          font-size: 1.5rem;
        }
      }
      & h4 {
        font-size: 2rem;
        margin-top: 6rem;
        @media (max-width: 700px) {
          font-size: 1.5rem;
        }
      }
      & .shipping {
        margin: 2rem;
        & h5 {
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;
          @media (max-width: 700px) {
            font-size: 1rem;
          }
        }
      }
      & .btn {
        @include btn(1rem 3rem);
        margin: 2rem auto;
        font-weight: bold;
        color: white;
      }
    }
  }
  & .popup.hide {
    visibility: hidden;
    opacity: 0;
  }
  & form {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & fieldset {
      padding: 1rem;
      border: 0;
      width: 40rem;
      @media (max-width: 500px) {
        width: 30rem;
        & .form-control {
          & select {
            width: 30rem;
          }
        }
      }
      @media (max-width: 400px) {
        width: 20rem;
        & .form-control {
          & select {
            width: 20rem;
          }
        }
      }
      & legend {
        font-size: 1.5rem;
        font-weight: bold;
      }
      & .form-control {
        display: flex;
        flex-direction: column;
        position: relative;
        & select {
          padding: 0.6rem;
          margin: 1rem 0rem;
        }
        & label {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-7rem, 1.2rem);
          font-size: 1.4rem;
          transition: 0.4s all;
          visibility: visible;
          opacity: 1;
          @media (max-width: 600px) {
            display: none;
          }
        }
        & input {
          padding: 0.6rem;
          margin: 1rem 0rem;
          border: 0;
          outline: 0;
          border-bottom: 0.2rem solid $primaryColor;
        }
        & input:invalid {
          border-bottom: 0.2rem solid red;
        }
        & input:valid {
          border-bottom: 0.2rem solid green;
        }
        & input:placeholder-shown ~ label {
          visibility: hidden;
          opacity: 0;
          transform: translate(0.5rem, 1.2rem);
        }
      }
    }
  }
  & .orderDetails {
    width: 40%;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 5rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 900px) {
      width: 70%;
    }
    @media (max-width: 500px) {
      width: 90%;
    }
    & .orderInfo {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      @media (max-width: 500px) {
        width: 80%;
      }
      & h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      & .info {
        font-size: 2rem;
        margin-bottom: 2rem;
        @media (max-width: 500px) {
          width: 100%;
        }
        & h5 {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & span {
            margin-left: 4rem;
          }
        }
      }
    }
    & .btn {
      @include btn(1rem 3rem);
      margin-top: 1rem;
      font-weight: bold;
      color: white;
      font-size: 1.5rem;
    }
  }
}
.message {
  background-color: rgba(black, 0.6);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .message-container {
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1rem darkgray;
    padding: 3rem;
    width: 40rem;
    & p {
      font-size: 1.5rem;
      line-height: 2rem;
      & a {
        margin: 0 0.2rem;
      }
    }
    & .btn {
      @include btn(1rem 3rem);
      font-weight: bold;
      color: white;
      margin-top: 2rem;
    }
  }
}
.message.hide {
  visibility: hidden;
  opacity: 0;
}
