@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto" "sans-serif"; }

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0.1rem 0.1rem 0.8rem darkgray;
  position: relative; }
  #navigation .navigation-links {
    list-style: none;
    display: flex;
    align-items: center; }
    @media (max-width: 750px) {
      #navigation .navigation-links {
        display: none; } }
    #navigation .navigation-links li {
      font-size: 1.5rem;
      transition: 0.4s all;
      padding: 1rem 1.5rem;
      cursor: pointer; }
      #navigation .navigation-links li:hover {
        background-color: #ab7b60; }
      #navigation .navigation-links li:hover .navigation-link {
        color: white; }
      #navigation .navigation-links li .navigation-link {
        text-decoration: 0;
        color: black;
        padding: 1rem 1.5rem;
        transition: 0.2s all; }
  #navigation .cartButtons {
    position: relative;
    display: flex;
    align-items: center; }
    #navigation .cartButtons .cartText {
      font-size: 1.5rem;
      font-weight: bold; }
    #navigation .cartButtons .loginText {
      font-size: 1.5rem;
      font-weight: bold; }
    @media (max-width: 750px) {
      #navigation .cartButtons {
        display: none; } }
    #navigation .cartButtons .reactIcon {
      font-size: 3rem;
      margin: 0 0.5rem;
      cursor: pointer; }
    #navigation .cartButtons .cartLink {
      color: black; }
    #navigation .cartButtons .cartItems {
      position: absolute;
      background-color: #ab7b60;
      color: white;
      font-weight: bold;
      padding: 0.3rem 0.6rem;
      border-radius: 50%;
      font-size: 0.8rem;
      top: -0.8rem;
      left: 5rem; }
  #navigation .sidebar {
    font-size: 3rem;
    color: #ab7b60;
    cursor: pointer;
    display: none; }
    @media (max-width: 750px) {
      #navigation .sidebar {
        display: flex; } }

.sidebarPanel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.2s all;
  display: flex;
  flex-direction: column;
  z-index: 100; }
  .sidebarPanel .sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .sidebarPanel .sidebarHeader .reactIcon {
      color: red;
      font-size: 2.5rem;
      cursor: pointer; }
  .sidebarPanel .sidebar-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sidebarPanel .sidebar-links li {
      font-size: 1.5rem;
      transition: 0.4s all;
      padding: 1rem 1.5rem; }
      .sidebarPanel .sidebar-links li:hover {
        background-color: #ab7b60; }
      .sidebarPanel .sidebar-links li:hover .sidebar-link {
        color: white; }
      .sidebarPanel .sidebar-links li .sidebar-link {
        text-decoration: 0;
        color: black;
        padding: 1rem 1.5rem;
        transition: 0.2s all; }
  .sidebarPanel .cartButtons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .sidebarPanel .cartButtons .reactIcon {
      font-size: 3rem;
      margin: 3rem 0.5rem;
      cursor: pointer; }
    .sidebarPanel .cartButtons .cartLink {
      color: black; }
    .sidebarPanel .cartButtons .cartItems {
      position: absolute;
      background-color: #ab7b60;
      color: white;
      font-weight: bold;
      padding: 0.3rem 0.6rem;
      border-radius: 50%;
      font-size: 0.8rem;
      top: -0.8rem;
      left: 1.7rem; }

.sidebarPanel.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1); }

.footerContent {
  background-color: black;
  padding: 4rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem; }

#pagehero {
  background-color: #e4d1c6;
  padding: 6rem; }
  #pagehero .pageheroLink {
    font-size: 2.8rem;
    margin-left: 4.5rem;
    text-transform: capitalize; }
    #pagehero .pageheroLink a {
      text-decoration: 0;
      color: #be9d8a; }

.aboutGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  padding: 10rem 0;
  margin: 0 20rem; }
  .aboutGrid .aboutImage {
    width: 100%; }
    .aboutGrid .aboutImage img {
      width: 100%;
      display: block; }
  .aboutGrid .aboutContent .aboutContentHeading {
    font-size: 4rem;
    font-family: "Merriweather"; }
  .aboutGrid .aboutContent .underline {
    background-color: #ab7b60;
    width: 15rem;
    height: 0.3rem;
    margin: 1rem 0; }
  .aboutGrid .aboutContentText {
    font-size: 1.4rem;
    line-height: 2.5rem; }

#errorPage {
  background-color: #e4d1c6;
  padding: 20rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #errorPage .errorHeadingBox {
    text-align: center; }
    #errorPage .errorHeadingBox .errorHeading {
      font-size: 8rem;
      margin-bottom: 2rem;
      font-family: "Merriweather"; }
    #errorPage .errorHeadingBox .errorSubheading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 3rem; }
      #errorPage .errorHeadingBox .errorSubheading .reactIcon {
        font-size: 2.5rem;
        margin-left: 2rem; }
  #errorPage .btn {
    background-color: #ab7b60;
    padding: 1.5rem 3rem;
    border: 0;
    outline: 0;
    box-shadow: 0.1rem 0.1rem 1rem darkgray;
    cursor: pointer;
    transition: 0.3s opacity;
    margin-top: 4rem; }
    #errorPage .btn:hover {
      opacity: 0.8; }
    #errorPage .btn a {
      color: white;
      font-weight: bold;
      text-decoration: 0;
      padding: 1.5rem 4rem; }

#showcase {
  padding: 10rem 0;
  margin: 0 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  #showcase .showcaseBoxOne .showcaseHeading {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: "Merriweather"; }
  #showcase .showcaseBoxOne .showcaseText {
    font-size: 1.8rem;
    line-height: 3rem;
    width: 80%;
    color: #888888; }
  #showcase .showcaseBoxOne .btn {
    background-color: #ab7b60;
    padding: 2rem 0;
    border: 0;
    outline: 0;
    box-shadow: 0.1rem 0.1rem 1rem darkgray;
    cursor: pointer;
    transition: 0.3s opacity;
    margin-top: 4rem;
    border-radius: 0.5rem;
    font-size: 1.5rem; }
    #showcase .showcaseBoxOne .btn:hover {
      opacity: 0.8; }
    #showcase .showcaseBoxOne .btn a {
      text-decoration: 0;
      color: white;
      font-weight: bold;
      padding: 2rem 5rem; }
  #showcase .showcaseBoxTwo {
    position: relative; }
    #showcase .showcaseBoxTwo img:nth-child(1) {
      width: 25rem;
      position: absolute;
      bottom: 0;
      left: -10rem; }
    #showcase .showcaseBoxTwo img:nth-child(2) {
      width: 40rem;
      height: 100%;
      box-shadow: 0.1rem 0.1rem 0.8rem darkgray; }
    #showcase .showcaseBoxTwo .background {
      position: absolute;
      background-color: #e4d1c6;
      width: 40rem;
      height: 100%;
      height: 75%;
      bottom: 0;
      left: -10rem;
      z-index: -1;
      box-shadow: 0.1rem 0.1rem 0.8rem darkgray; }

#services {
  background-color: #e4d1c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20rem;
  position: relative; }
  #services .servicesBoxOne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    margin-top: 6rem; }
    #services .servicesBoxOne .boxOneHeading {
      font-size: 3rem;
      font-family: "Merriweather"; }
    #services .servicesBoxOne .boxOneText {
      font-size: 1.8rem;
      line-height: 3rem; }
  #services .servicesBoxTwo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    transform: translateY(8rem); }
    #services .servicesBoxTwo .boxTwoCard {
      background-color: #be9d8a;
      text-align: center;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0.1rem 0.1rem 0.5rem #414141;
      transition: 0.3s all;
      cursor: pointer; }
      #services .servicesBoxTwo .boxTwoCard:hover {
        box-shadow: 0.1rem 0.1rem 1rem #414141; }
      #services .servicesBoxTwo .boxTwoCard .cardIcon {
        background-color: #e4d1c6;
        border-radius: 50%;
        padding: 1rem;
        margin-bottom: 2rem; }
        #services .servicesBoxTwo .boxTwoCard .cardIcon .reactIcon {
          font-size: 4rem; }
      #services .servicesBoxTwo .boxTwoCard .cardHeading {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-family: "Merriweather"; }
      #services .servicesBoxTwo .boxTwoCard .cardText {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 5rem; }

#contact {
  padding: 30rem 0 25rem 0;
  margin: 0 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem; }
  #contact .contactBoxOne .boxOneHeading {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-family: "Merriweather"; }
  #contact .contactBoxOne .boxOneText {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #888888; }
  #contact .contactBoxTwo {
    align-self: center; }
    #contact .contactBoxTwo form {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center; }
      #contact .contactBoxTwo form input {
        outline: 0;
        border: 0;
        box-shadow: 0.1rem 0.1rem 0.3rem black;
        padding: 1.5rem 1.5rem;
        width: 35rem; }
      #contact .contactBoxTwo form .btn {
        background-color: #ab7b60;
        padding: 1.6rem 4rem;
        border: 0;
        outline: 0;
        box-shadow: 0.1rem 0.1rem 1rem darkgray;
        cursor: pointer;
        transition: 0.3s opacity;
        color: white;
        font-size: 1.5rem; }
        #contact .contactBoxTwo form .btn:hover {
          opacity: 0.8; }

#featuredProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 10rem;
  background-color: #f1f5f8; }
  #featuredProducts .featuredProductsHeading {
    margin: 2rem 0 0 0;
    font-size: 3rem;
    font-family: "Merriweather"; }
  #featuredProducts .underline {
    background-color: #ab7b60;
    width: 12rem;
    height: 0.3rem;
    margin: 1rem 0;
    margin-bottom: 6rem; }
  #featuredProducts .featuredProductsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin: 3rem 0; }
    #featuredProducts .featuredProductsBox .featuredProduct {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      #featuredProducts .featuredProductsBox .featuredProduct .featuredProductImage {
        width: 42rem;
        height: 28rem;
        overflow: hidden;
        border-radius: 0.5rem;
        position: relative; }
        #featuredProducts .featuredProductsBox .featuredProduct .featuredProductImage::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          transition: 0.3s all;
          visibility: hidden;
          opacity: 0; }
        #featuredProducts .featuredProductsBox .featuredProduct .featuredProductImage:hover::before {
          visibility: visible;
          opacity: 1; }
        #featuredProducts .featuredProductsBox .featuredProduct .featuredProductImage img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover; }
        #featuredProducts .featuredProductsBox .featuredProduct .featuredProductImage .reactIcon {
          visibility: hidden;
          opacity: 0;
          transition: 0.3s all;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3.5rem;
          color: #ab7b60;
          cursor: pointer; }
        #featuredProducts .featuredProductsBox .featuredProduct .featuredProductImage:hover .reactIcon {
          visibility: visible;
          opacity: 1;
          top: 50%; }
      #featuredProducts .featuredProductsBox .featuredProduct .featuredPorductInfo {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 1rem;
        align-items: center;
        width: 100%; }
        #featuredProducts .featuredProductsBox .featuredProduct .featuredPorductInfo .productName {
          font-size: 1.5rem;
          font-family: "Merriweather";
          font-weight: 400;
          text-transform: capitalize; }
        #featuredProducts .featuredProductsBox .featuredProduct .featuredPorductInfo .productPrice {
          font-size: 1.5rem;
          font-weight: 400;
          color: #ab7b60; }
  #featuredProducts .btn {
    background-color: #ab7b60;
    padding: 1.5rem 0rem;
    border: 0;
    outline: 0;
    box-shadow: 0.1rem 0.1rem 1rem darkgray;
    cursor: pointer;
    transition: 0.3s opacity;
    margin: 4rem 0; }
    #featuredProducts .btn:hover {
      opacity: 0.8; }
    #featuredProducts .btn a {
      padding: 1.5rem 6rem;
      text-decoration: 0;
      color: white;
      font-weight: bold; }

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }

#singleProduct {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  overflow: hidden; }
  #singleProduct .singleProductImages {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem; }
    #singleProduct .singleProductImages > img {
      width: 100%;
      height: 55rem;
      display: block;
      object-fit: cover; }
    #singleProduct .singleProductImages .gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-top: 1.5rem;
      column-gap: 1rem; }
      #singleProduct .singleProductImages .gallery img {
        display: block;
        width: 100%;
        height: 10rem;
        object-fit: fill;
        cursor: pointer;
        transition: 0.2s all; }
        #singleProduct .singleProductImages .gallery img:hover {
          box-shadow: 0.1rem 0.1rem 1.5rem #2e2e2e; }
      #singleProduct .singleProductImages .gallery img.active {
        box-shadow: 0.1rem 0.1rem 1.5rem #2e2e2e; }
  #singleProduct .singleProductContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
    padding: 0 6rem 0 0; }
    #singleProduct .singleProductContent .heading {
      font-size: 3rem;
      font-family: "Merriweather";
      text-transform: capitalize; }
    #singleProduct .singleProductContent .description {
      font-size: 1.6rem;
      line-height: 3rem;
      color: #888888; }
    #singleProduct .singleProductContent .singleProductInfo {
      display: flex;
      flex-direction: column; }
      #singleProduct .singleProductContent .singleProductInfo .info:nth-child(1) {
        margin-bottom: 1rem; }
      #singleProduct .singleProductContent .singleProductInfo .info:nth-child(2) {
        margin-top: 1rem;
        margin-bottom: 1rem; }
      #singleProduct .singleProductContent .singleProductInfo .info:nth-child(3) {
        margin-top: 1rem; }
      #singleProduct .singleProductContent .singleProductInfo .info {
        font-size: 1.8rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        color: #888888; }
        #singleProduct .singleProductContent .singleProductInfo .info span {
          margin-right: 1rem;
          font-weight: bold;
          color: black; }

#singleProductDetails .singleProductReviews {
  font-size: 1.6rem;
  display: flex;
  align-items: center; }
  #singleProductDetails .singleProductReviews .star {
    color: orange;
    font-size: 2rem; }
  #singleProductDetails .singleProductReviews .reviews {
    margin-left: 1rem;
    margin-bottom: 0.5rem; }
#singleProductDetails .price {
  color: #ab7b60;
  font-size: 2.5rem; }

#singleProductAddToCart .colors {
  font-size: 1.8rem;
  display: flex;
  align-items: center; }
  #singleProductAddToCart .colors button:nth-child(1) {
    margin-left: 1.5rem; }
  #singleProductAddToCart .colors .btn {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 50%;
    outline: 0;
    border: 0;
    margin: 0 0.5rem;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center; }
    #singleProductAddToCart .colors .btn:hover {
      box-shadow: 0.1rem 0.1rem 0.5rem #333333; }
    #singleProductAddToCart .colors .btn .reactIcon {
      color: white;
      font-size: 1.5rem; }
#singleProductAddToCart .btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 5rem; }
  #singleProductAddToCart .btn-container .btn {
    border: 0;
    border-radius: 0.3rem;
    background-color: #ab7b60;
    outline: 0;
    cursor: pointer;
    padding: 1rem; }
    #singleProductAddToCart .btn-container .btn .reactIcon {
      color: white;
      font-weight: bold; }
#singleProductAddToCart .btn.addToCart {
  background-color: #ab7b60;
  padding: 1.5rem 6rem;
  border: 0;
  outline: 0;
  box-shadow: 0.1rem 0.1rem 1rem darkgray;
  cursor: pointer;
  transition: 0.3s opacity;
  color: white;
  margin-top: 2rem;
  font-weight: bold; }
  #singleProductAddToCart .btn.addToCart:hover {
    opacity: 0.8; }

#productsList {
  display: flex;
  justify-content: center;
  margin: 5rem 15rem; }
  #productsList .filters {
    margin-right: 4rem; }
    #productsList .filters form {
      display: flex;
      flex-direction: column; }
      #productsList .filters form h4 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem; }
      #productsList .filters form .form-control {
        margin-bottom: 1.5rem; }
      #productsList .filters form .form-control:nth-child(1) {
        margin-bottom: 2rem; }
        #productsList .filters form .form-control:nth-child(1) input {
          padding: 1rem 1.5rem;
          background-color: #cfe7f1;
          outline: 0;
          border: 0;
          box-shadow: 0.1rem 0.1rem 0.8rem darkgray;
          text-transform: capitalize; }
      #productsList .filters form .form-control:nth-child(2) {
        display: flex;
        flex-direction: column; }
        #productsList .filters form .form-control:nth-child(2) .btn {
          border: 0;
          background: 0;
          outline: 0;
          font-size: 1.4rem;
          text-transform: capitalize;
          margin-bottom: 0.5rem;
          padding: 0.8rem 0;
          cursor: pointer;
          transition: 0.3s all;
          border-radius: 0.3rem; }
        #productsList .filters form .form-control:nth-child(2) .btn.active {
          background: #cfe7f1;
          font-weight: bold; }
      #productsList .filters form .form-control:nth-child(3) {
        width: 100%; }
        #productsList .filters form .form-control:nth-child(3) select {
          margin-top: 2rem;
          padding: 0.8rem 0;
          text-transform: capitalize;
          width: 100%; }
      #productsList .filters form .form-control:nth-child(4) .btn-container {
        display: flex;
        align-items: center; }
        #productsList .filters form .form-control:nth-child(4) .btn-container .btn.all {
          background: 0;
          font-size: 1.5rem;
          text-transform: capitalize;
          border-radius: 0;
          transition: 0.3s all;
          border-bottom: 0.3rem solid transparent; }
        #productsList .filters form .form-control:nth-child(4) .btn-container .btn.all.active {
          border-bottom: #cfe7f1 solid 0.3rem; }
        #productsList .filters form .form-control:nth-child(4) .btn-container .btn {
          margin: 0 0.5rem;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          outline: 0;
          border: 0;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center; }
          #productsList .filters form .form-control:nth-child(4) .btn-container .btn .reactIcon {
            color: white;
            font-weight: bolder; }
      #productsList .filters form .form-control:nth-child(5) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #productsList .filters form .form-control:nth-child(5) label {
          margin-bottom: 1rem;
          font-size: 1.5rem; }
      #productsList .filters form .form-control:nth-child(6) {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #productsList .filters form .form-control:nth-child(6) label {
          font-size: 1.5rem; }
        #productsList .filters form .form-control:nth-child(6) input {
          height: 1.5rem;
          width: 1.5rem;
          cursor: pointer; }
      #productsList .filters form .btn.clear {
        background-color: #ab7b60;
        padding: 1rem;
        border: 0;
        outline: 0;
        box-shadow: 0.1rem 0.1rem 1rem darkgray;
        cursor: pointer;
        transition: 0.3s opacity;
        color: white;
        font-weight: bold; }
        #productsList .filters form .btn.clear:hover {
          opacity: 0.8; }
  #productsList .productsListContent {
    display: flex;
    flex-direction: column;
    width: 100%; }
    #productsList .productsListContent .gridView {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      row-gap: 5rem; }
      #productsList .productsListContent .gridView .productBox {
        display: flex;
        flex-direction: column; }
        #productsList .productsListContent .gridView .productBox img {
          width: 100%;
          height: 25rem;
          display: block;
          object-fit: cover; }
        #productsList .productsListContent .gridView .productBox .productBoxInfo {
          display: flex;
          justify-content: space-between;
          padding: 0 0.5rem;
          margin-top: 1rem;
          align-items: center;
          overflow: hidden; }
          #productsList .productsListContent .gridView .productBox .productBoxInfo .price {
            color: #ab7b60;
            font-size: 1.6rem;
            font-weight: bold; }
          #productsList .productsListContent .gridView .productBox .productBoxInfo .name {
            text-transform: capitalize;
            font-size: 1.6rem;
            font-family: "Merriweather"; }
        #productsList .productsListContent .gridView .productBox .btn-grid {
          background-color: #ab7b60;
          padding: 1rem 0rem;
          border: 0;
          outline: 0;
          box-shadow: 0.1rem 0.1rem 1rem darkgray;
          cursor: pointer;
          transition: 0.3s opacity;
          margin-top: 2rem; }
          #productsList .productsListContent .gridView .productBox .btn-grid:hover {
            opacity: 0.8; }
          #productsList .productsListContent .gridView .productBox .btn-grid a {
            color: white;
            font-weight: bold;
            text-decoration: 0;
            padding: 1rem 9rem; }
    #productsList .productsListContent .sort {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid black;
      padding-bottom: 1rem; }
      #productsList .productsListContent .sort select {
        padding: 0.5rem; }
      #productsList .productsListContent .sort .views {
        display: flex;
        align-items: center; }
        #productsList .productsListContent .sort .views .productsNum {
          margin-left: 1rem;
          font-size: 1.5rem; }
        #productsList .productsListContent .sort .views .reactIcon:nth-child(1) {
          margin-right: 0.5rem; }
        #productsList .productsListContent .sort .views .reactIcon {
          font-size: 2.8rem;
          cursor: pointer;
          border: 0.1rem solid black;
          padding: 0.5rem;
          border-radius: 0.5rem;
          overflow: hidden; }
        #productsList .productsListContent .sort .views .reactIcon.active {
          background-color: black;
          color: white;
          border: 0.1rem solid white; }
    #productsList .productsListContent .listView {
      display: flex;
      flex-direction: column; }
      #productsList .productsListContent .listView .productBox {
        display: grid;
        grid-template-columns: 30% 70%;
        margin-bottom: 3rem;
        box-shadow: 0.1rem 0.1rem 0.8rem darkgray; }
        #productsList .productsListContent .listView .productBox img {
          width: 100%;
          height: 30rem;
          display: block;
          object-fit: cover; }
        #productsList .productsListContent .listView .productBox .productBoxInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1rem 2rem; }
          #productsList .productsListContent .listView .productBox .productBoxInfo .infoheading .name {
            text-transform: capitalize;
            font-family: "Merriweather";
            font-size: 2rem;
            margin-bottom: 1rem; }
          #productsList .productsListContent .listView .productBox .productBoxInfo .infoheading .price {
            font-size: 1.8rem;
            color: #ab7b60;
            font-weight: bold; }
          #productsList .productsListContent .listView .productBox .productBoxInfo .description {
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: #888888; }
          #productsList .productsListContent .listView .productBox .productBoxInfo .buttonView {
            background-color: #ab7b60;
            padding: 1rem 0rem;
            border: 0;
            outline: 0;
            box-shadow: 0.1rem 0.1rem 1rem darkgray;
            cursor: pointer;
            transition: 0.3s opacity;
            width: 25%;
            align-self: flex-start; }
            #productsList .productsListContent .listView .productBox .productBoxInfo .buttonView:hover {
              opacity: 0.8; }
            #productsList .productsListContent .listView .productBox .productBoxInfo .buttonView a {
              text-decoration: 0;
              font-weight: bold;
              color: white;
              font-size: 1.4rem;
              padding: 1rem 5rem; }

#cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #cart .cartItems-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 10rem 5rem 10rem; }
    #cart .cartItems-container .cartItem {
      display: grid;
      grid-template-columns: 30% 70%;
      margin: 2rem 0;
      box-shadow: 0.1rem 0.1rem 1rem darkgray; }
      #cart .cartItems-container .cartItem .cartBox-one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem; }
        #cart .cartItems-container .cartItem .cartBox-one img {
          width: 100%;
          display: block;
          object-fit: fill;
          height: 15rem; }
        #cart .cartItems-container .cartItem .cartBox-one .cartItem-info {
          padding: 2rem 0; }
          #cart .cartItems-container .cartItem .cartBox-one .cartItem-info .cartItem-name {
            font-size: 1.5rem;
            font-family: "Merriweather";
            text-transform: capitalize; }
          #cart .cartItems-container .cartItem .cartBox-one .cartItem-info .cartItem-color {
            display: flex;
            align-items: center; }
            #cart .cartItems-container .cartItem .cartBox-one .cartItem-info .cartItem-color .cartItem-color-name {
              font-size: 1.4rem;
              margin-right: 1rem; }
            #cart .cartItems-container .cartItem .cartBox-one .cartItem-info .cartItem-color .cartItem-color-btn {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              border: 0;
              outline: 0; }
          #cart .cartItems-container .cartItem .cartBox-one .cartItem-info .cartItem-price {
            font-size: 1.5rem;
            color: #ab7b60;
            display: block;
            margin: 0.5rem 0; }
      #cart .cartItems-container .cartItem .cartBox-two {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 0;
        align-items: center;
        justify-items: center; }
        #cart .cartItems-container .cartItem .cartBox-two .cartBox-amount {
          display: flex;
          align-items: center; }
          #cart .cartItems-container .cartItem .cartBox-two .cartBox-amount .quantity {
            padding: 1rem 2rem;
            font-size: 1.4rem;
            font-weight: bold;
            border: 0.1rem solid black; }
          #cart .cartItems-container .cartItem .cartBox-two .cartBox-amount .btn {
            cursor: pointer;
            background-color: #ab7b60;
            border: 0;
            outline: 0;
            padding: 1rem;
            color: white; }
        #cart .cartItems-container .cartItem .cartBox-two .cartBox-subtotal {
          font-size: 2rem;
          color: #ab7b60;
          font-weight: bold; }
        #cart .cartItems-container .cartItem .cartBox-two .cartBox-remove .reactIcon {
          font-size: 3rem;
          color: white;
          cursor: pointer;
          transition: 0.2s all;
          background-color: red;
          padding: 0.5rem;
          border-radius: 50%; }
          #cart .cartItems-container .cartItem .cartBox-two .cartBox-remove .reactIcon:hover {
            box-shadow: 0.1rem 0.1rem 0.8rem red; }

#emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex-direction: column; }
  #emptyCart h1 {
    font-size: 2rem;
    font-family: "Merriweather";
    margin-bottom: 2rem; }
  #emptyCart .btn {
    background-color: #ab7b60;
    padding: 1.5rem 3rem;
    border: 0;
    outline: 0;
    box-shadow: 0.1rem 0.1rem 1rem darkgray;
    cursor: pointer;
    transition: 0.3s opacity;
    color: white;
    font-weight: bold; }
    #emptyCart .btn:hover {
      opacity: 0.8; }

#cartTotals {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0rem;
  padding: 0 10rem;
  width: 100%;
  margin-bottom: 4rem; }
  #cartTotals .btn {
    background-color: #ab7b60;
    padding: 1.5rem 3rem;
    border: 0;
    outline: 0;
    box-shadow: 0.1rem 0.1rem 1rem darkgray;
    cursor: pointer;
    transition: 0.3s opacity;
    font-weight: bold;
    color: white; }
    #cartTotals .btn:hover {
      opacity: 0.8; }
  #cartTotals .carTotalsInfo {
    font-size: 2rem;
    border: 0.1rem solid black;
    width: 30rem;
    padding: 1rem; }
    #cartTotals .carTotalsInfo h5:nth-child(4) {
      color: #ab7b60; }
    #cartTotals .carTotalsInfo h5 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0; }
      #cartTotals .carTotalsInfo h5 span {
        margin-left: 3rem; }
